body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #D3D3F8
}

#title {
  font-family: 'Roboto Slab', serif;
  font-size: 2.75em;
}

#description {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
}

.head1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #33336B;

}

nav {
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  height: 400px;
  width: 500px;
  object-fit: cover;
}

#ragtime_photo {
  object-position: 75% 15%;
}

#film_photo{
  object-position: 72.5%;
}

#resume {
  display: flex;
  justify-content: center;
}
